<h3>Register</h3>
@page "/Login/Register"

@inject LoginApiClient loginClient


<MudPaper Class="pa-4 mx-auto" Style="max-width: 500px">
    <EditForm Model="@registerRequest" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />

        <MudTextField Label="Email" @bind-Value="@registerRequest.Email" For="@(() => registerRequest.Email)" FullWidth />

        <MudTextField Label="Mot de passe" @bind-Value="@registerRequest.Password" For="@(() => registerRequest.Password)" FullWidth InputType="MudBlazor.InputType.Password" />

        <MudButton Type="ButtonType.Submit" Color="Color.Primary">S'inscrire</MudButton>
    </EditForm>
</MudPaper>

@code {
    private RegisterRequest registerRequest = new();

    private async Task HandleValidSubmit()
    {
        await loginClient.RegisterUser(registerRequest);
    }

}
