@inherits LayoutComponentBase
@using MudBlazor
@using MudBlazor.Components

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar Elevation="1">
        <button type="button" @onclick="(() => ToggleDrawer())">oldJS</button> 
        <MudIconButton Icon="@Icons.Material.Filled.Menu"  Color="Color.Inherit"  OnClick="@(() => ToggleDrawer())" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/MudBlazor/MudBlazor" Target="_blank" />
    </MudAppBar>
    <MudDrawer @bind-Open="@open" Elevation="2">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16">
        <MudContainer Class="mt-6">
        @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
